{
  "openapi": "3.0.3",
  "info": {
    "title": "Apono",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apono.io",
      "description": "Apono Public Api"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "tags": [
    {
      "name": "Access Bundles"
    },
    {
      "name": "Access Flows"
    },
    {
      "name": "Access Requests"
    },
    {
      "name": "Access Scopes"
    },
    {
      "name": "Access Sessions"
    },
    {
      "name": "Activity"
    },
    {
      "name": "Available Access"
    },
    {
      "name": "Bundles"
    },
    {
      "name": "Connectors"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Identities"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Users"
    }
  ],
  "paths": {
    "/api/admin/v1/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List Groups",
        "operationId": "listGroupsV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseGroupPublicV1Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create Group",
        "operationId": "createGroupV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v1/groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group",
        "operationId": "getGroupV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupV1"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete Group",
        "operationId": "deleteGroupV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/admin/v1/groups/{id}/members": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group Members",
        "operationId": "listGroupMembersV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseGroupMemberPublicV1Model"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update Group Members",
        "operationId": "updateGroupMembersV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupMembersV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/admin/v1/groups/{id}/members/{email}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Add Group Member",
        "operationId": "addGroupMemberV1",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Remove Group Member",
        "operationId": "removeGroupMemberV1",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/admin/v1/groups/{id}/name": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update Group",
        "operationId": "updateGroupV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v2/access-flows": {
      "get": {
        "tags": [
          "Access Flows"
        ],
        "summary": "List access flows",
        "operationId": "listAccessFlowsV2",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAccessFlowPublicV2Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Create access flow",
        "operationId": "createAccessFlowV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessFlowUpsertPublicV2Model"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowPublicV2Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v2/access-flows/{id}": {
      "get": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Get access flow",
        "operationId": "getAccessFlowV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowPublicV2Model"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Update access flow",
        "operationId": "updateAccessFlowV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessFlowUpsertPublicV2Model"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowPublicV2Model"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Delete access flow",
        "operationId": "deleteAccessFlowV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/admin/v2/bundles": {
      "get": {
        "tags": [
          "Bundles"
        ],
        "summary": "List Bundles",
        "operationId": "listBundlesV2",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseBundlePublicV2Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bundles"
        ],
        "summary": "Create Bundle",
        "operationId": "createBundleV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertBundlePublicV2Model"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlePublicV2Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v2/bundles/{id}": {
      "get": {
        "tags": [
          "Bundles"
        ],
        "summary": "Get Bundle",
        "operationId": "getBundleV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlePublicV2Model"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bundles"
        ],
        "summary": "Update Bundle",
        "operationId": "updateBundleV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertBundlePublicV2Model"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlePublicV2Model"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bundles"
        ],
        "summary": "Delete Bundle",
        "operationId": "deleteBundleV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/admin/v3/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List Connectors",
        "operationId": "listConnectorsV3",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseConnectorPublicV3Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v3/connectors/{id}": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get Connector",
        "operationId": "getConnectorV3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorV3"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Connectors"
        ],
        "summary": "Update Connector",
        "operationId": "updateConnectorV3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertConnectorV3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorV3"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "summary": "Delete Connector",
        "operationId": "deleteConnectorV3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/admin/v3/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List Users",
        "operationId": "listUsersV3",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "source_integration_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "source_integration_name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseUserPublicV3Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v3/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User",
        "operationId": "getUserV3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserV3"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v4/integrations": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "list integrations",
        "operationId": "listIntegrationsV4",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "connector_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseIntegrationPublicV4Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "create integration",
        "operationId": "createIntegrationV4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationV4"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v4/integrations/{id}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration by id",
        "operationId": "getIntegrationsByIdV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationV4"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "update integration",
        "operationId": "updateIntegrationV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegrationV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationV4"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "delete integration",
        "operationId": "deleteIntegrationV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/user/v1/access-sessions": {
      "get": {
        "tags": [
          "Access Sessions"
        ],
        "summary": "List access sessions",
        "operationId": "listAccessSessionsV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAccessSessionPublicV1Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v1/access-sessions/{id}": {
      "get": {
        "tags": [
          "Access Sessions"
        ],
        "summary": "Get access session",
        "operationId": "getAccessSessionV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessSessionV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v1/access-sessions/{id}/access-details": {
      "get": {
        "tags": [
          "Access Sessions"
        ],
        "summary": "Get session access details",
        "operationId": "getAccessSessionAccessDetailsV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessSessionDetailsV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v1/access-sessions/{id}/reset-credentials": {
      "post": {
        "tags": [
          "Access Sessions"
        ],
        "summary": "Reset session credentials",
        "operationId": "resetAccessSessionCredentialsV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v1/available-access/bundles": {
      "get": {
        "tags": [
          "Available Access"
        ],
        "summary": "List available bundles",
        "operationId": "listAvailableBundlesV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAvailableBundlePublicV1Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v1/available-access/entitlements": {
      "get": {
        "tags": [
          "Available Access"
        ],
        "summary": "List available entitlements",
        "operationId": "listAvailableEntitlementsV1",
        "parameters": [
          {
            "name": "integration_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "integration_name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "permission_name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "resource_name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "resource_source_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "resource_type_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAvailableEntitlementPublicV1Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v4/access-requests": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "List access requests",
        "operationId": "listAccessRequestsV4",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAccessRequestV4PublicModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Create access request",
        "operationId": "createAccessRequestV4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessRequestV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessRequestV4"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v4/access-requests/{id}": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Get access request",
        "operationId": "getAccessRequestsV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequestV4"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v4/access-requests/{id}/entitlements": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Get access request entitlements",
        "operationId": "getAccessRequestEntitlementsV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integration_ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "resource_types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAccessRequestEntitlementPublicV4Model"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v4/access-requests/{id}/request-again": {
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Request access again",
        "operationId": "requestAccessAgainV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAgainV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessRequestV4"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/v4/access-requests/{id}/revoke": {
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Revoke access request",
        "operationId": "revokeAccessRequestV4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-bundles": {
      "get": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "List Access Bundles",
        "operationId": "listAccessBundles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseAccessBundleV1Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Create Access Bundle",
        "operationId": "createAccessBundle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAccessBundleV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBundleV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-bundles/{id}": {
      "get": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Get Access Bundle",
        "operationId": "getAccessBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBundleV1"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Delete Access Bundle",
        "operationId": "deleteAccessBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Update Access Bundle",
        "operationId": "updateAccessBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessBundleV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBundleV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-flows": {
      "get": {
        "tags": [
          "Access Flows"
        ],
        "summary": "List Access Flows",
        "operationId": "listAccessFlowsV1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseAccessFlowV1Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Create Access Flow",
        "operationId": "createAccessFlowV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAccessFlowV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-flows/{id}": {
      "get": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Get Access Flow",
        "operationId": "getAccessFlowV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowV1"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Delete Access Flow",
        "operationId": "deleteAccessFlowV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Update Access Flow",
        "operationId": "updateAccessFlowV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessFlowV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connector-action-params/grant-access": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "get grant-access connector action params",
        "operationId": "getGrantAccessConnectorActionParams",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGrantRevokeAccessConnectorActionParamsModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorActionParamsModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connector-action-params/revoke-access": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "get revoke-access connector action params",
        "operationId": "getRevokeAccessConnectorActionParams",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGrantRevokeAccessConnectorActionParamsModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorActionParamsModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/bulk/identities/attributes": {
      "get": {
        "tags": [
          "Identities"
        ],
        "summary": "List attributes for multiple identities",
        "operationId": "listAttributesForIdentities",
        "parameters": [
          {
            "name": "emails",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIdentityAttributeModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Identities"
        ],
        "summary": "Adds or Updates attributes to multiple identities",
        "operationId": "bulkUpsertAttributesForIdentities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IdentityAttributeModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentitiesAttributesResponseModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Identities"
        ],
        "summary": "Delete attributes from multiple identities",
        "operationId": "bulkDeleteAttributesFormIdentities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IdentityAttributeKeysModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentitiesAttributesResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "list connectors",
        "operationId": "listConnectors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Connector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/identities": {
      "get": {
        "tags": [
          "Identities"
        ],
        "summary": "list identities, grantees and approvers",
        "operationId": "listIdentities",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIdentityModelV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "list integrations",
        "operationId": "listIntegrationsV2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIntegrationModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "create integration",
        "operationId": "createIntegrationV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations-catalog": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "list integration configs",
        "operationId": "listIntegrationConfigs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIntegrationConfigPublicModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations-catalog/{type}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration config",
        "operationId": "getIntegrationConfig",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations/{id}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration",
        "operationId": "getIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "update integration",
        "operationId": "updateIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "delete integration",
        "operationId": "deleteIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations/{id}/refresh": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "refresh integration",
        "operationId": "refreshIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "list users",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseUserModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "get user by Id or Email",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "list access requests",
        "operationId": "listAccessRequests",
        "parameters": [
          {
            "name": "days_offset",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseAccessRequestV3"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "create access request",
        "operationId": "createAccessRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequest"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests-bulk/revoke": {
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Revoke multiple access requests",
        "operationId": "revokeAccessRequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRequestsBulkRevokeRequestV3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests/{id}": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get access request",
        "operationId": "getAccessRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequest"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests/{id}/access-details": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get access request access details",
        "operationId": "getAccessRequestDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests/{id}/reset": {
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "reset access request credentials",
        "operationId": "resetAccessRequestCredentials",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "List Activity",
        "operationId": "listActivity",
        "parameters": [
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReportField"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[integration_id]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[permission]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[requestor_id]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[resource]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[resource_type]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[trigger_type]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseActivityReportJsonExportModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/integrations/resources/{resource_id}/user-tags": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get user tags of a resource",
        "operationId": "getResourceUserTags",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceUserTagsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "update user tags of a resource",
        "operationId": "updateResourceUserTags",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceUserTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/integrations/{id}/permissions": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration permissions for the entire tenant",
        "operationId": "getIntegrationPermissions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource-type",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponsePermissionV3Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/integrations/{id}/resources": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration resources for the entire tenant",
        "operationId": "getIntegrationResources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource-type",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseResourceV3Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable integrations",
        "operationId": "getSelectableIntegrations",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseSelectableIntegrationV3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations/{integration_id}/resource-types": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable resource types",
        "operationId": "getSelectableResourceTypes",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseSelectableResourceTypeV3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations/{integration_id}/{resource_type}/permissions": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable permissions",
        "operationId": "getSelectablePermissions",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectablePermissionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations/{integration_id}/{resource_type}/resources": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable resources",
        "operationId": "getSelectableResources",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseSelectableResourceV3"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v1/access-scopes": {
      "get": {
        "tags": [
          "Access Scopes"
        ],
        "summary": "List Access Scopes",
        "operationId": "listAccessScopesV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "format": "int32",
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiListResponseAccessScopePublicV1Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Scopes"
        ],
        "summary": "Create Access Scope",
        "operationId": "createAccessScopesV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAccessScopeV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessScopeV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/v1/access-scopes/{id}": {
      "get": {
        "tags": [
          "Access Scopes"
        ],
        "summary": "Get Access Scope",
        "operationId": "getAccessScopesV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessScopeV1"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Access Scopes"
        ],
        "summary": "Update Access Scope",
        "operationId": "updateAccessScopesV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAccessScopeV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessScopeV1"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Access Scopes"
        ],
        "summary": "Delete Access Scope",
        "operationId": "deleteAccessScopesV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessBundleAccessTargetPublicV2Model": {
        "description": "AccessBundleAccessTargetV2",
        "type": "object",
        "properties": {
          "integration": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/IntegrationAccessTargetPublicV2Model"
              }
            ],
            "nullable": true
          },
          "access_scope": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessScopeAccessTargetPublicV2Model"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessBundleAccessTargetUpsertPublicV2Model": {
        "description": "AccessBundleAccessTargetUpsertV2",
        "type": "object",
        "properties": {
          "integration": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/IntegrationAccessTargetUpsertPublicV2Model"
              }
            ],
            "nullable": true
          },
          "access_scope": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessScopeAccessTargetUpsertPublicV2Model"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessBundleV1": {
        "required": [
          "id",
          "name",
          "integration_targets"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            }
          }
        }
      },
      "AccessFlowPublicV2Model": {
        "required": [
          "id",
          "name",
          "active",
          "trigger",
          "requestors",
          "access_targets",
          "settings",
          "creation_date"
        ],
        "description": "AccessFlowV2",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "trigger": {
            "type": "string"
          },
          "requestors": {
            "$ref": "#/components/schemas/RequestorsPublicV2Model"
          },
          "access_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetPublicV2Model"
            }
          },
          "approver_policy": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproverPolicyPublicV2Model"
              }
            ],
            "nullable": true
          },
          "grant_duration_in_min": {
            "format": "int32",
            "type": "integer",
            "nullable": true
          },
          "timeframe": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowTimeframePublicV2Model"
              }
            ],
            "nullable": true
          },
          "settings": {
            "$ref": "#/components/schemas/AccessFlowSettingsPublicV2Model"
          },
          "creation_date": {
            "$ref": "#/components/schemas/ApiInstant"
          },
          "update_date": {
            "type": "string",
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiInstant"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessFlowSettingsPublicV2Model": {
        "required": [
          "justification_required",
          "require_approver_reason",
          "approver_cannot_approve_himself",
          "require_mfa",
          "labels"
        ],
        "description": "AccessFlowSettingsV2",
        "type": "object",
        "properties": {
          "justification_required": {
            "type": "boolean"
          },
          "require_approver_reason": {
            "type": "boolean"
          },
          "approver_cannot_approve_himself": {
            "type": "boolean"
          },
          "require_mfa": {
            "type": "boolean"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccessFlowSettingsV1": {
        "type": "object",
        "properties": {
          "require_justification_on_request_again": {
            "type": "boolean",
            "nullable": true
          },
          "require_all_approvers": {
            "type": "boolean",
            "nullable": true
          },
          "require_approver_justification": {
            "type": "boolean",
            "nullable": true
          },
          "approver_cannot_approve_himself": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "AccessFlowTimeframePublicV2Model": {
        "required": [
          "start_time",
          "end_time",
          "days_of_week",
          "time_zone"
        ],
        "description": "AccessFlowTimeframeV2",
        "type": "object",
        "properties": {
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "days_of_week": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DayOfWeekPublicV2Model"
            }
          },
          "time_zone": {
            "type": "string"
          }
        }
      },
      "AccessFlowTriggerV1": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "timeframe": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TimeframeV1"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessFlowUpsertPublicV2Model": {
        "required": [
          "name",
          "active",
          "trigger",
          "requestors",
          "access_targets",
          "settings"
        ],
        "description": "AccessFlowUpsertV2",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "trigger": {
            "type": "string"
          },
          "requestors": {
            "$ref": "#/components/schemas/RequestorsUpsertPublicV2Model"
          },
          "access_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetUpsertPublicV2Model"
            }
          },
          "approver_policy": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproverPolicyUpsertPublicV2Model"
              }
            ],
            "nullable": true
          },
          "grant_duration_in_min": {
            "format": "int32",
            "type": "integer",
            "nullable": true
          },
          "timeframe": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowTimeframePublicV2Model"
              }
            ],
            "nullable": true
          },
          "settings": {
            "$ref": "#/components/schemas/AccessFlowSettingsPublicV2Model"
          }
        }
      },
      "AccessFlowV1": {
        "required": [
          "id",
          "name",
          "active",
          "trigger",
          "grantees",
          "integration_targets",
          "bundle_targets",
          "revoke_after_in_sec",
          "created_date"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "trigger": {
            "$ref": "#/components/schemas/AccessFlowTriggerV1"
          },
          "grantees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GranteeV1"
            }
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            }
          },
          "bundle_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetBundleV1"
            }
          },
          "approvers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApproverV1"
            },
            "nullable": true
          },
          "revoke_after_in_sec": {
            "format": "int32",
            "type": "integer"
          },
          "settings": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowSettingsV1"
              }
            ],
            "nullable": true
          },
          "created_date": {
            "$ref": "#/components/schemas/Instant"
          }
        }
      },
      "AccessRequest": {
        "required": [
          "request_id",
          "friendly_request_id",
          "user_id",
          "status",
          "integration_id",
          "resource_ids",
          "permissions",
          "justification"
        ],
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "friendly_request_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/AccessStatusModel"
          },
          "integration_id": {
            "type": "string"
          },
          "resource_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "justification": {
            "type": "string"
          }
        }
      },
      "AccessRequestAccessGroupV4": {
        "required": [
          "integration",
          "resource_types"
        ],
        "type": "object",
        "properties": {
          "integration": {
            "$ref": "#/components/schemas/IntegrationPartialV4"
          },
          "resource_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceTypeV4"
            }
          }
        }
      },
      "AccessRequestEntitlementV4": {
        "required": [
          "integration",
          "resource",
          "permission",
          "status"
        ],
        "type": "object",
        "properties": {
          "integration": {
            "$ref": "#/components/schemas/IntegrationPartialV4"
          },
          "resource": {
            "$ref": "#/components/schemas/EntitlementResourceV4"
          },
          "permission": {
            "$ref": "#/components/schemas/RequestEntitlementPermissionV4"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AccessRequestV4": {
        "required": [
          "id",
          "status",
          "creation_date",
          "custom_fields",
          "access_groups"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "duration_in_sec": {
            "format": "int32",
            "type": "integer",
            "nullable": true
          },
          "justification": {
            "type": "string",
            "nullable": true
          },
          "creation_date": {
            "$ref": "#/components/schemas/ApiInstant"
          },
          "revocation_date": {
            "type": "string",
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiInstant"
              }
            ],
            "nullable": true
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "access_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRequestAccessGroupV4"
            }
          },
          "bundle": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/BundlePartialV4"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessRequestsBulkRevokeRequestV3": {
        "required": [
          "request_ids"
        ],
        "type": "object",
        "properties": {
          "request_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccessScopeAccessTargetPublicV2Model": {
        "required": [
          "access_scope_id",
          "access_scope_name"
        ],
        "description": "AccessScopeAccessTargetV2",
        "type": "object",
        "properties": {
          "access_scope_id": {
            "type": "string"
          },
          "access_scope_name": {
            "type": "string"
          }
        }
      },
      "AccessScopeAccessTargetUpsertPublicV2Model": {
        "required": [
          "access_scope_reference"
        ],
        "description": "AccessScopeAccessTargetUpsertV2",
        "type": "object",
        "properties": {
          "access_scope_reference": {
            "type": "string"
          }
        }
      },
      "AccessSessionDetailsV1": {
        "required": [
          "instructions"
        ],
        "type": "object",
        "properties": {
          "instructions": {
            "type": "string"
          },
          "custom_admin_message": {
            "type": "string",
            "nullable": true
          },
          "parameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "cli": {
            "type": "string",
            "nullable": true
          },
          "link": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/LinkV1"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessSessionV1": {
        "required": [
          "id",
          "name",
          "integration",
          "credentials_status",
          "can_reset_credentials"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "integration": {
            "$ref": "#/components/schemas/IntegrationPartialV4"
          },
          "credentials_status": {
            "type": "string"
          },
          "can_reset_credentials": {
            "type": "boolean"
          }
        }
      },
      "AccessStatusModel": {
        "enum": [
          "PENDING",
          "APPROVED",
          "REJECTED",
          "GRANTED",
          "REVOKING",
          "EXPIRED",
          "FAILED"
        ],
        "type": "string"
      },
      "AccessTargetBundleV1": {
        "required": [
          "bundle_id"
        ],
        "type": "object",
        "properties": {
          "bundle_id": {
            "type": "string"
          }
        }
      },
      "AccessTargetIntegrationV1": {
        "required": [
          "integration_id",
          "resource_type",
          "resource_tag_includes",
          "resource_tag_excludes",
          "permissions"
        ],
        "type": "object",
        "properties": {
          "integration_id": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "resource_tag_includes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagV1"
            }
          },
          "resource_tag_excludes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagV1"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccessTargetPublicV2Model": {
        "description": "AccessTargetV2",
        "type": "object",
        "properties": {
          "integration": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/IntegrationAccessTargetPublicV2Model"
              }
            ],
            "nullable": true
          },
          "bundle": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/BundleAccessTargetPublicV2Model"
              }
            ],
            "nullable": true
          },
          "access_scope": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessScopeAccessTargetPublicV2Model"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessTargetUpsertPublicV2Model": {
        "description": "AccessTargetUpsertV2",
        "type": "object",
        "properties": {
          "integration": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/IntegrationAccessTargetUpsertPublicV2Model"
              }
            ],
            "nullable": true
          },
          "bundle": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/BundleAccessTargetUpsertPublicV2Model"
              }
            ],
            "nullable": true
          },
          "access_scope": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessScopeAccessTargetUpsertPublicV2Model"
              }
            ],
            "nullable": true
          }
        }
      },
      "ActivityReportJsonExportModel": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "nullable": true
          },
          "request_date": {
            "type": "string",
            "nullable": true
          },
          "requestor_name": {
            "type": "string",
            "nullable": true
          },
          "requestor_email": {
            "type": "string",
            "nullable": true
          },
          "integration": {
            "type": "string",
            "nullable": true
          },
          "resource_type": {
            "type": "string",
            "nullable": true
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "justification": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "trigger_type": {
            "type": "string",
            "nullable": true
          },
          "access_flow": {
[...]
