---
page_title: "{{.Name}} (beta) {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}} (beta)

{{ .Description | trimspace }}

-> **Note** Please note this resource is in **beta**.

## Example Usage

### AWS Account Integration

{{ tffile "examples/resources/apono_resource_integration/aws_account_integration.tf" }}

### PostgreSQL Database Integration with AWS Secret Store

{{ tffile "examples/resources/apono_resource_integration/postgresql_database_integration.tf" }}

### GCP Integration with Owner Assignment 

{{ tffile "examples/resources/apono_resource_integration/gcp_integration_with_owner.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

In Terraform v1.5.0 and later, use an import block to import apono_resource_integrations using the resource integration identifier. For example:

```terraform
import {
  to = apono_resource_integration.example
  id = "123e4567-e89b-12d3-a456-426614174000"
}
```

Or using the CLI:

```shell
terraform import apono_resource_integration.example 123e4567-e89b-12d3-a456-426614174000
```
