---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

## Example Usage

### Exact‑Name Match

{{ tffile "examples/data-sources/apono_groups/exact-name-match.tf" }}

### Name Prefix

{{ tffile "examples/data-sources/apono_groups/name-prefix.tf" }}

### Filter by Source Integration

{{ tffile "examples/data-sources/apono_groups/source-integration.tf" }}

Example usage of [`dev_teams`](../resources/access_flow_v2.md#bundle-and-access-scope-as-access-targets) used in an access flow as part of the approver policy. 

{{ .SchemaMarkdown | trimspace }}
